.env
.env.*
venv/, .venv/, env/, .envs/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
db.sqlite3
*.sqlite3
.DS_Store
.idea/
.vscode/
*.log
*.bak
*.swp
*.tmp
*.old
*.orig
*.rej
*.coverage
.coverage.*
htmlcov/
.tox/
.nox/
.coverage.*
.pytest_cache/
.pytest_cache/
pip-wheel-metadata/
__pypackages__/
dist/
build/
*.egg-info/         
.eggs/
instance/
.webassets-cache/
celerybeat-schedule
celerybeat.pid
*.pid
*.sock
*.gz
*.zip
*.tar
*.rar
*.7z
*.exe
*.dll
*.so
*.dylib
*.lib
*.o
*.obj
*.a     